@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --book-bg: #f8e9e2;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
}

/* BrilliantCutPro Family */
@font-face {
  font-family: 'BrilliantCutPro';
  src: url('/fonts/BrilliantCutPro_font/BrilliantCutPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'BrilliantCutPro';
  src: url('/fonts/BrilliantCutPro_font/BrilliantCutPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BrilliantCutPro';
  src: url('/fonts/BrilliantCutPro_font/BrilliantCutPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BrilliantCutPro';
  src: url('/fonts/BrilliantCutPro_font/BrilliantCutPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BrilliantCutPro';
  src: url('/fonts/BrilliantCutPro_font/BrilliantCutPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BrilliantCutPro';
  src: url('/fonts/BrilliantCutPro_font/BrilliantCutPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* NotoSansThai Family */
@font-face {
  font-family: 'NotoSansThai';
  src: url('/fonts/NotoSansThai-Font/NotoSansThai-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansThai';
  src: url('/fonts/NotoSansThai-Font/NotoSansThai-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansThai';
  src: url('/fonts/NotoSansThai-Font/NotoSansThai-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansThai';
  src: url('/fonts/NotoSansThai-Font/NotoSansThai-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansThai';
  src: url('/fonts/NotoSansThai-Font/NotoSansThaiUI-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansThai';
  src: url('/fonts/NotoSansThai-Font/NotoSansThaiUI-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.font-NotoSansThai {
  font-family: 'NotoSansThai';
}

.font-BrilliantCutPro {
  font-family: 'BrilliantCutPro';
}

.stf__parent {
  position: relative !important;
  margin: 0 auto !important; 
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  transform: none !important;
}

.stf__canvas {
  width: var(--book-w) !important;
  height: var(--book-h) !important;
}

.stf__item {
  width: var(--book-w) !important;
  height: var(--book-h) !important;
  background-color: #f8e9e2 !important;
  box-shadow: none !important;
}

.stf__block {
  will-change: transform;
}

.page-root {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

.page-root img {
  width: 100% !important;
  height: 100% !important;
  object-fit: fill !important;
}

.stf__outer-shadow, .stf__inner-shadow {
  display: none !important;
}


@media only screen and (min-width:390)  {
  .green-box {
    width: 100% !important;
    left: 50%;
    transform: translateX(-50%);
  }
}